name: CI with Cache

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Prime Cache
        id: cache-step
        uses: actions/cache@v4
        with:
          path: |
            ~/.npm
          key: cache-017d2e5

      - name: prime-cache-017d2e5
        run: echo "Cache hit: ${{ steps.cache-step.outputs.cache-hit }}"

      - name: Install dependencies
        run: |
          npm init -y
          npm install lodash
